.venv/
venv/

__pycache__/
*.pyc
*.pyo

# Data files
*.csv
*.pkl
*.npz
*.h5
Connectomes/
OBSOLETE/

#Internal scripts
src/scripts/connectome.py
src/scripts/prefilter_synapses.py
src/scripts/combine_to_cartridge.py

# Log files
*.log
*.tmp