.venv/
venv/

__pycache__/
*.pyc
*.pyo

# Data files
*.csv
*.pkl
*.npz
*.h5
*.parquet
*.cartridge

OBSOLETE/
parquet_output/

#Internal files
connectome_toolkit/scripts/render_swc.py
TODO.txt
# Log files
*.log
*.tmp