.venv/
venv/

__pycache__/
*.pyc
*.pyo

# Data files
*.csv
*.pkl
*.npz
*.h5
*.parquet
*.cartridge

Connectomes/
OBSOLETE/
parquet_output/

#Internal scripts
src/scripts/connectome.py
src/scripts/prefilter_synapses.py
src/scripts/combine_to_cartridge.py
src/scripts/render_swc.py
TODO.txt
# Log files
*.log
*.tmp